@import "_mixins.scss";
main {
  display: flex;
  justify-content: space-between;
  max-width: 1920px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
.doctor-navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 120px;
  max-width: 500px;
  width: 100%;
  font-size: $font40px;

  margin-right: 60px;
}
.doctor-navigation__title {
  @include main-text;
  color: $dark-color;
  margin-bottom: 40px;
}
.doctor-navigation__pic {
  max-width: 500px;
  width: 100%;
  height: 100%;
  max-height: 500px;
  margin-bottom: 50px;
}
.doctor-navigation__pic > img {
  max-width: 500px;
  max-height: 500px;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.doctor-navigation__name,
.doctor-navigation__specialization {
  @include text;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 500px;
  max-height: 160px;
  min-height: 80px;
  width: 100%;
  height: 100%;
  border: 4px solid $light-color;
  border-radius: 20px;
  background: $dark-color;
  color: $light-color;
  margin-bottom: 30px;
}
.doctor-navigation__name {
  min-height: 160px;
}
.calendar-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  max-width: 1150px;
  width: 100%;
  min-height: 820px;
  height: 100%;

  margin-top: 210px;
}
.calendar-form__calendar {
  @include text;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1150px;
  width: 100%;
  min-height: 710px;
  height: 100%;
  font-size: $font40px;
  background: $dark-color;
  border: 4px solid $light-color;
  border-radius: 20px;
  color: $light-color;
}
.calendar-form__btn {
  @include default-btn;
  width: 330px;
  height: 80px;
  font-size: $font40px;

  margin-top: 30px;
}
@media (max-width: 1400px) {
  .doctor-navigation,
  .calendar-form__calendar,
  .calendar-form__btn {
    font-size: $font32px;
  }
  main {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .calendar-form,
  .doctor-navigation {
    margin: 0;
  }
}

@media (max-width: 600px) {
  .doctor-navigation,
  .calendar-form__calendar,
  .calendar-form__btn {
    font-size: $font24px;
  }
  .calendar-form__btn {
    width: 250px;
  }
}
