@import "_mixins.scss";
.ticket {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 820px;
  width: 100%;
  max-height: 270px;
  height: 100%;
  font-size: $font32px;
  padding: 10px;
  border-radius: 20px;
  border: 4px solid $dark-color;
}
.ticket__date,
.ticket__doctor,
.ticket__hospital,
.ticket__user,
.ticket__specialization,
.ticket__time {
  background: $dark-color;
  color: $light-color;
  border: 4px solid $light-color;
  border-radius: 20px;
}
.ticket__date-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 810px;
  width: 100%;
  height: 60px;
}
.ticket_date-info-container {
  display: flex;
  width: 100%;
}
.ticket_date-info-container .ticket__date {
  margin: 0 5px;
}
.ticket__time {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 300px;
  width: 100%;
  height: 60px;
}
.ticket__date {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 420px;
  width: 100%;
  height: 60px;
  text-align: center;
  margin: 0 5px;
}
.ticket__date_wider {
  max-width: 482px;
}
.ticket__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 60px;
  min-height: 60px;
  background: none;
  border: 4px solid $dark-color;
  border-radius: 20px;

  &:hover {
    border-color: $light-color;
  }
  &:active > img {
    width: 30px;
    height: 30px;
  }
}
.ticket__hospital,
.ticket__user {
  margin-bottom: 10px;
}
.ticket__hospital,
.ticket__user,
.ticket__doctor,
.ticket__specialization {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 800px;
  width: 100%;
  height: 50px;
}
.ticket__specialization,
.ticket__hospital,
.ticket__user {
  margin: 10px 0;
}
.ticket__container {
  display: flex;
  width: 100%;
  max-width: 300px;

  gap: 5px;
}
.ticket__container .ticket__btn {
  display: none;
}
@media (max-width: 1400px) {
  .ticket {
    font-size: $font24px;
  }
}
@media (max-width: 700px) {
  .ticket__time,
  .ticket__date {
    max-width: none;
  }
  .ticket {
    max-height: 350px;
  }
  .ticket__date-info {
    height: 130px;
    flex-direction: column;
    justify-content: space-between;
  }
  .ticket_date-info-container {
    flex-direction: column;
  }
  .ticket_date-info-container .ticket__date {
    margin: 0;
  }
  .ticket__btn {
    display: none;
  }

  .ticket__container {
    max-width: none;
  }
  .ticket__container .ticket__btn {
    display: block;
  }
}
@media (max-width: 600px) {
  .ticket {
    font-size: $font20px;
  }
}
