@import "_mixins.scss";
main {
  display: flex;
  justify-content: space-between;
  max-width: 1920px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
.users-cab {
  display: flex;
  max-width: 1920px;
  width: 100%;
  height: 100%;
  padding-top: 120px;
  flex-direction: column;
  align-items: center;
}
.users-cab__title {
  @include main-text;
  color: $dark-color;
  font-size: $font40px;
}
.users-cab__form {
  max-width: 1920px;
  width: 100%;
  height: 100%;
  margin-top: 40px;
}
.form {
  display: flex;
  gap: 30px;
  justify-content: space-between;
}
.form__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 500px;
  width: 100%;
  min-height: 740px;
  height: 100%;
}
.container {
  margin-bottom: 30px;
}
.container_first {
}
.container__info {
}
.info {
}
.input {
  @include input;
  font-size: $font32px;
  max-width: 500px;
  width: 100%;
  height: 80px;
  margin-bottom: 30px;
}
.info__input-surname {
}
.info__input-name {
}
.info__input-middle-name {
}
.info__sex {
  appearance: none;
}
.sex {
}
.sex__option {
}
.info__birthday {
}
.info__input-tel {
}
.info__address {
}
.container__btn-delete {
  @include delete-btn;
  font-size: $font40px;
  max-width: 300px;
  width: 100%;
  height: 80px;
}
.container_second {
  justify-content: space-between;
}
.container_second .container__btn-save,
.container_second .container__btn-change-pswrd {
  margin-top: 30px;
}
.container_second__container-for-btns {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.container__pic {
  max-width: 500px;
  max-height: 500px;
  width: 100%;
  height: 100%;

  margin-bottom: 20px;
}
.container__pic > img {
  width: 100%;
  height: 100%;
  max-width: 500px;
  max-height: 500px;
}
.container__btn-change-pswrd {
  @include default-btn;
  font-size: $font40px;
  max-width: 300px;
  width: 100%;
  height: 80px;
}
.container__btn-save {
  @include default-btn;
  font-size: $font40px;
  max-width: 250px;
  width: 100%;
  height: 80px;
}
.container_third {
  justify-content: space-between;
}
.container__info2 {
}
.info2 {
  width: 100%;
}
.info2__input-email {
}
.info2__status,
.info2__last-visit {
  font-size: $font32px;
  border: 4px solid $light-color;
  background: $dark-color;
  border-radius: 20px;
  text-align: center;
  color: $light-color;
  max-width: 500px;
  width: 100%;
  height: 80px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container_fourth {
  display: none;
}

@media (max-width: 1400px) {
  .users-cab__title,
  .container__btn-delete,
  .container__btn-change-pswrd,
  .container__btn-save {
    font-size: $font32px;
  }
  .input,
  .info2__status,
  .info2__last-visit {
    font-size: $font24px;
  }
  .form {
    justify-content: center;
    flex-wrap: wrap;
    gap: 0 50px;
  }
  .container_first {
    order: 1;
  }
  .container_second {
    margin: 0;
    order: 0;
  }
  .container_third {
    order: 2;
  }
  .container {
    margin-bottom: 0;
  }
  .container_third {
    justify-content: flex-start;
    min-height: 0;
  }
}
@media (max-width: 1169px) {
  .container_second .container__btn-save,
  .container_second .container__btn-change-pswrd,
  .container_third .container__btn-delete {
    display: none;
  }
  .container_fourth {
    display: flex;
    flex-direction: column;
    gap: 30px;
    order: 3;
  }
  .form__container {
    min-height: 0;
  }
  .form__container .container_third {
    justify-content: flex-start;
  }
}
@media (max-width: 600px) {
  .users-cab__title,
  .container__btn-delete,
  .container__btn-change-pswrd,
  .container__btn-save {
    font-size: $font24px;
  }
  .container__btn-delete,
  .container__btn-change-pswrd,
  .container__btn-save {
    height: 60px;
    width: 250px;
  }
  .input,
  .info2__status,
  .info2__last-visit {
    font-size: $font20px;
  }
}
